<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Update user</title>
</head>
<body>
<form th:method="PATCH" th:action="@{/{id}(id=${users.getId()})}" th:object="${users}">
    <label for="name">Name:</label>
    <input type="text" th:field="*{name}" id="name"/>
    <br>
    <label for="password">Password:</label>
    <input type="text" th:field="*{password}" id="password"/>
    <br>
    <input type="submit" value="Update!">
    <br>
    <a th:href="@{/logout}">Logout</a>
</form>

</body>
</html>